[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "==1.23.0"
pandas = "==1.4.3"
scikit-learn = "==1.1.2"
mlflow = "*"
gunicorn = "*"
prefect = "==2.b10"
evidently = "*"
pymongo = "*"
pytest = "*"
pylint = "*"
lightgbm = "==3.2.1"
xgboost = "==1.5.0"

[dev-packages]
requests = "*"
black = "*"
isort = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"

[requires]
python_version = "3.9"
